 body {
    background-color: #181a1b;
    border-color: #736b5e;
    color: #e8e6e3;
    text-align: center;
    border: 10px solid #00D900;
}

a {
    color: #3391ff;
}

h1
{
    color: red;
    font-family: sans-serif;
}
h2
{
    color: lightblue;
}
#sticky
{
    position: sticky;
}

#small
{
    width: 332px;
    height: 163px;
    transition: width 2s, height 2s;
    padding: 15px;
}

#small:hover
{
    width: 665px;
    height: 327px;
}

th, td {
    padding: 20px;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .light-mode {
    background-color: #EEE !important;
    color: black !important;
    border: 0px;
  }
  .light-mode h2
  {
      color: #0089b5;
  }

  .light-mode img {
      border: 1px solid black;
  }